In [1]:
import pandas as pd
import numpy as np

In [6]:
items = pd.read_csv('../data/input/items.csv')
item_categories = pd.read_csv('../data/input/item_categories.csv')
shops = pd.read_csv('../data/input/shops.csv')
sales_train = pd.read_csv('../data/input/sales_train.csv')
test = pd.read_csv('../data/input/test.csv')

In [7]:
# 異常値(外れ値、負値)の処理
sales_train = sales_train[sales_train.item_cnt_day < 100000]
sales_train = sales_train[sales_train.item_price < 1250]

median = sales_train[(sales_train.shop_id==32)&\
                     (sales_train.item_id==2973)&\
                     (sales_train.date_block_num==4)&\
                     (sales_train.item_price>0)].item_price.median()
sales_train.loc[sales_train.item_price < 0, 'item_price'] = median

In [10]:
sales_train['date'] = pd.to_datetime(sales_train['date'], format="%d.%m.%Y")
sales_train['year'] = sales_train.date.dt.year
sales_train['month'] = sales_train.date.dt.month
sales_train['day'] = sales_train.date.dt.day
display(sales_train)

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,year,month,day
0,2013-01-02,0,59,22154,999.0,1.0,2013,1,2
1,2013-01-03,0,25,2552,899.0,1.0,2013,1,3
2,2013-01-05,0,25,2552,899.0,-1.0,2013,1,5
4,2013-01-15,0,25,2555,1099.0,1.0,2013,1,15
5,2013-01-10,0,25,2564,349.0,1.0,2013,1,10
...,...,...,...,...,...,...,...,...,...
2935844,2015-10-10,33,25,7409,299.0,1.0,2015,10,10
2935845,2015-10-09,33,25,7460,299.0,1.0,2015,10,9
2935846,2015-10-14,33,25,7459,349.0,1.0,2015,10,14
2935847,2015-10-22,33,25,7440,299.0,1.0,2015,10,22
2935848,2015-10-03,33,25,7460,299.0,1.0,2015,10,3

In [12]:
grouped = sales_train[sales_train['month']==12].groupby(['shop_id', 'item_id'], as_index=False)
grouped.mean()[['shop_id', 'item_id', 'item_cnt_day']].\
to_csv('../data/output/output.csv', index=False, header=True)